
server/skripte/access.txt
*.csv
*.sql
/datenbank
Vorstellung
server/skripte/config/.htaccess
*.apk
*.apk
DiTaKa/app/release/app-release.apk
DiTaKa/keystore.properties
settings.xml
/server/skripte/Server/nbproject/private/
/server/skripte/meta/nbproject/private/